.card {
  position: relative;
  width: 100%;
  height: 100px;
  /* background-color: white; */
}

.font,
.back {
  position: absolute;
  inset: 0;
  transition: all 0.5s;
  border-radius: 8px;
  backface-visibility: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back img {
  transform: scale(0.6);
}
.font img {
  transform: scale(0.5);
}
.card .font {
}
.card .back {
  transform: rotateY(-180deg);
}

.flipped .font {
  transform: rotateY(180deg);
}
.flipped .back {
  transform: rotateY(0deg);
}
